# Data Exploration  


Goal: how many of each event type we have

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation, PillowWriter
import os


from src.utils import *
from src.plotting import Baseball_Field
from src.game import Game

In [2]:
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None  # default='warn'

## See what kind of variables might be nice to have

In [3]:
# "1900_02_TeamKJ_TeamB" is what I have been working with so far,
# but this is early, so it might not have the later events?

which_game = "1903_02_TeamNE_TeamA2" # "1903_01_TeamNE_TeamA2" # "1900_02_TeamKJ_TeamB"

In [4]:
game_info_df = pd.read_csv("data/game_info/game_info-" + which_game + ".csv", index_col=0)
game_info_df.head()

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom_inning,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
1,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,1,1,1,Top,1077,1240,2526,1557,1297,2148,2053,1177,1751,4474,0,0,0
2,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,1,2,1,Top,1077,1240,2526,1557,1297,2148,2053,1177,1751,4474,0,0,0
3,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,1,3,1,Top,1077,1240,2526,1557,1297,2148,2053,1177,1751,4474,0,0,0
4,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,1,4,1,Top,1077,1240,2526,1557,1297,2148,2053,1177,1751,0,4474,0,0
5,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,2,5,1,Top,1077,1240,2526,1557,1297,2148,2053,1177,1751,3790,4474,0,0

In [55]:
game_events_df = pd.read_csv("data/game_events/game_events-" + which_game + ".csv", index_col=0)
game_events_df["event"] = game_events_df["event_code"].map(lambda x: EVENT_CODE_TO_DESC[x])
game_events_df.head()

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code,event
1,1903_02_TeamNE_TeamA2,1,1,1,46725,1,1,pitch
2,1903_02_TeamNE_TeamA2,1,1,1,47325,10,4,ball hit into play
3,1903_02_TeamNE_TeamA2,1,1,1,47375,0,5,end of play
4,1903_02_TeamNE_TeamA2,2,1,2,60475,1,1,pitch
5,1903_02_TeamNE_TeamA2,2,1,2,61125,2,2,ball acquired

#### All of the plays that have a 0 for batter, but have a ball hit into play

In [56]:
zero_batters = game_info_df.loc[game_info_df["batter"] == 0, :]
zero_batters

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom_inning,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
4,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,1,4,1,Top,1077,1240,2526,1557,1297,2148,2053,1177,1751,0,4474,0,0
131,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,46,133,5,Bottom,4619,7071,6803,4306,5616,6000,3790,4474,7148,0,1557,1751,0

In [57]:
game_info_df.loc[game_info_df["play_per_game"].isin([3, 4, 5]), :]

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom_inning,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
3,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,1,3,1,Top,1077,1240,2526,1557,1297,2148,2053,1177,1751,4474,0,0,0
4,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,1,4,1,Top,1077,1240,2526,1557,1297,2148,2053,1177,1751,0,4474,0,0
5,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,2,5,1,Top,1077,1240,2526,1557,1297,2148,2053,1177,1751,3790,4474,0,0

In [59]:
game_events_df.loc[(game_events_df["play_per_game"].isin(zero_batters["play_per_game"]))# &\
                   #(game_events_df["event_code"] == 4)
                   , ["game_str", "play_id", "play_per_game", "event_code"]]

                  game_str  play_id  play_per_game  event_code
10   1903_02_TeamNE_TeamA2        4              4           1
11   1903_02_TeamNE_TeamA2        4              4           4
12   1903_02_TeamNE_TeamA2        4              4          16
13   1903_02_TeamNE_TeamA2        4              4          16
14   1903_02_TeamNE_TeamA2        4              4          16
15   1903_02_TeamNE_TeamA2        4              4           2
16   1903_02_TeamNE_TeamA2        4              4           3
17   1903_02_TeamNE_TeamA2        4              4           2
18   1903_02_TeamNE_TeamA2        4              4           5
492  1903_02_TeamNE_TeamA2      132            133           1
493  1903_02_TeamNE_TeamA2      132            133           5
494  1903_02_TeamNE_TeamA2      132            133           2

#### find all the instances where a ball is hit into play, but it shows that there is no batter

In [47]:
all_games = []

for sub_dir, dirs, files in os.walk('data/game_events/'):
    for file in files:
        if "checkpoint" in file:
                continue
    
        all_games.append(file.split("-")[-1].split(".csv")[0])

print(len(all_games))

97

In [62]:
zeros = pd.DataFrame()

for g in all_games:
    this_game = Game(g)
    
    zero_batters = this_game.game_info_df.loc[this_game.game_info_df["batter"] == 0, :]

    events_w_data = this_game.game_events_df.loc[(this_game.game_events_df["play_per_game"].isin(zero_batters["play_per_game"])) # &\
                                                #(this_game.game_events_df["event_code"] == 4)
                                                , ["game_str", "play_id", "play_per_game", "event_code"]]
    
    zeros = pd.concat([zeros, events_w_data])

In [65]:
zeros[["game_str", "play_id", "play_per_game"]].drop_duplicates()

                   game_str  play_id  play_per_game
377   1903_01_TeamNE_TeamA2      101            101
622   1903_01_TeamNE_TeamA2      160            160
625   1903_01_TeamNE_TeamA2      161            161
628   1903_01_TeamNE_TeamA2      162            162
774   1903_01_TeamNE_TeamA2      203            203
445   1903_11_TeamNC_TeamA1      110            111
10    1903_02_TeamNE_TeamA2        4              4
492   1903_02_TeamNE_TeamA2      132            133
520    1903_25_TeamNK_TeamB      126            131
567   1903_28_TeamNF_TeamA2      158            158
625   1903_07_TeamND_TeamA2      168            169
1103  1903_07_TeamND_TeamA2      304            305
352   1903_30_TeamNF_TeamA2       94             94
947   1903_30_TeamNF_TeamA2      244            244
1096  1903_25_TeamNH_TeamA3      289            291

In [72]:
zeros[["game_str", "play_id", "play_per_game"]].drop_duplicates().to_csv("data_debugging/batter_as_zeros.csv", index = False)

In [66]:
game_1903_01 = Game("1903_01_TeamNE_TeamA2")

In [70]:
game_1903_01.game_info_df.loc[(game_1903_01.game_info_df["batter"]) == 0, :]

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom_inning,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
101,1903_01_TeamNE_TeamA2,TeamA2,TeamNE,25,101,3,Bottom,8523,7071,5616,6993,9762,6000,3790,4474,7148,0,2053,0,0
159,1903_01_TeamNE_TeamA2,TeamA2,TeamNE,42,160,5,Top,2171,2790,2526,2053,2382,1972,1557,1751,2973,0,6000,0,0
160,1903_01_TeamNE_TeamA2,TeamA2,TeamNE,42,161,5,Top,2171,2790,2526,2053,2382,1972,1557,1751,2973,0,6000,0,0
161,1903_01_TeamNE_TeamA2,TeamA2,TeamNE,42,162,5,Top,2171,2790,2526,2053,2382,1972,1557,1751,2973,0,6000,0,0
202,1903_01_TeamNE_TeamA2,TeamA2,TeamNE,51,203,6,Top,2171,2790,2526,2053,2382,1972,1557,1751,2973,0,0,6803,9762

In [ ]:
game_1903_01.game_info_df.loc[(game_1903_01.game_info_df["batter"]) == 0, :]

#### Do the fields I except to line up, actually line up?

In [6]:
mismatched_play_ids = game_events_df.loc[game_events_df["play_id"] != game_events_df["play_per_game"], :]

In [7]:
mismatched_play_ids

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code,event
480,1903_02_TeamNE_TeamA2,128,46,129,5175437,1,1,pitch
481,1903_02_TeamNE_TeamA2,128,46,129,5175987,2,2,ball acquired
482,1903_02_TeamNE_TeamA2,128,46,129,5175987,0,5,end of play
483,1903_02_TeamNE_TeamA2,129,46,130,5204387,1,1,pitch
484,1903_02_TeamNE_TeamA2,129,46,130,5204837,2,2,ball acquired
...,...,...,...,...,...,...,...,...
841,1903_02_TeamNE_TeamA2,211,69,222,8295387,10,4,ball hit into play
842,1903_02_TeamNE_TeamA2,211,69,222,8295437,0,5,end of play
843,1903_02_TeamNE_TeamA2,211,69,222,8326187,1,1,pitch
844,1903_02_TeamNE_TeamA2,211,69,222,8326687,2,2,ball acquired
845,1903_02_TeamNE_TeamA2,211,69,222,8326687,0,5,end of play

In [15]:
#mismatched_play_ids["play_id_shifted"] = 
first_mismatch = mismatched_play_ids.loc[mismatched_play_ids["play_id"].diff() != mismatched_play_ids["play_per_game"].diff(), :]
first_mismatch

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code,event
480,1903_02_TeamNE_TeamA2,128,46,129,5175437,1,1,pitch
812,1903_02_TeamNE_TeamA2,211,69,222,8050687,1,1,pitch

In [21]:
# Something weird is going on with play id 

# HMM, play_per_game just skips? I wonder if that was like a pitching change or something

game_events_df.loc[(game_events_df["play_id"] >= first_mismatch.iloc[0]["play_id"] - 3) & (game_events_df["play_id"] <= first_mismatch.iloc[0]["play_id"] + 3) , :]

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code,event
471,1903_02_TeamNE_TeamA2,125,46,125,5084637,1,1,pitch
472,1903_02_TeamNE_TeamA2,125,46,125,5085187,2,2,ball acquired
473,1903_02_TeamNE_TeamA2,125,46,125,5085187,0,5,end of play
474,1903_02_TeamNE_TeamA2,126,46,126,5102437,1,6,pickoff throw
475,1903_02_TeamNE_TeamA2,126,46,126,5103037,3,2,ball acquired
476,1903_02_TeamNE_TeamA2,126,46,126,5103037,0,5,end of play
477,1903_02_TeamNE_TeamA2,127,46,127,5123287,1,1,pitch
478,1903_02_TeamNE_TeamA2,127,46,127,5123787,2,2,ball acquired
479,1903_02_TeamNE_TeamA2,127,46,127,5123787,0,5,end of play
480,1903_02_TeamNE_TeamA2,128,46,129,5175437,1,1,pitch
481,1903_02_TeamNE_TeamA2,128,46,129,5175987,2,2,ball acquired
482,1903_02_TeamNE_TeamA2,128,46,129,5175987,0,5,end of play
483,1903_02_TeamNE_TeamA2,129,46,130,5204387,1,1,pitch
484,1903_02_TeamNE_TeamA2,129,46,130,5204837,2,2,ball acquired
485,1903_02_TeamNE_TeamA2,129,46,130,5204837,0,5,end of play
486,1903_02_TeamNE_TeamA2,130,46,131,5232487,1,1,pitch
487,1903_02_TeamNE_TeamA2,130,46,131,5232937,0,5,end of play
488,1903_02_TeamNE_TeamA2,130,46,131,5232937,2,2,ball acquired
489,1903_02_TeamNE_TeamA2,131,46,132,5264687,1,1,pitch
490,1903_02_TeamNE_TeamA2,131,46,132,5265087,10,4,ball hit into play
491,1903_02_TeamNE_TeamA2,131,46,132,5265287,0,5,end of play

In [26]:
game_info_df.loc[(game_info_df["play_per_game"] >= 125) & (game_info_df["play_per_game"] <= 130), :]

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom_inning,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
123,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,46,125,5,Bottom,4619,7071,6803,4306,5616,6000,3790,4474,7148,1557,1751,0,0
124,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,46,126,5,Bottom,4619,7071,6803,4306,5616,6000,3790,4474,7148,1557,1751,0,0
125,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,46,127,5,Bottom,4619,7071,6803,4306,5616,6000,3790,4474,7148,1557,1751,0,0
126,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,46,128,5,Bottom,4619,7071,6803,4306,5616,6000,3790,4474,7148,1557,1751,0,0
127,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,46,129,5,Bottom,4619,7071,6803,4306,5616,6000,3790,4474,7148,1557,1751,0,0
128,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,46,130,5,Bottom,4619,7071,6803,4306,5616,6000,3790,4474,7148,1557,1751,0,0

In [75]:
# 1903_02_TeamNE_TeamA2 is all weird!

game_events_df.loc[(game_events_df["play_id"] >= first_mismatch.iloc[1]["play_id"] - 3) & (game_events_df["play_id"] <= first_mismatch.iloc[1]["play_id"] + 3) , :].drop_duplicates()

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code,event
803,1903_02_TeamNE_TeamA2,208,67,209,7960087,1,1,pitch
804,1903_02_TeamNE_TeamA2,208,67,209,7960637,2,2,ball acquired
805,1903_02_TeamNE_TeamA2,208,67,209,7960637,0,5,end of play
806,1903_02_TeamNE_TeamA2,209,67,210,7989187,1,1,pitch
807,1903_02_TeamNE_TeamA2,209,67,210,7989737,0,5,end of play
808,1903_02_TeamNE_TeamA2,209,67,210,7989737,2,2,ball acquired
809,1903_02_TeamNE_TeamA2,210,67,211,8018237,1,1,pitch
810,1903_02_TeamNE_TeamA2,210,67,211,8018687,10,4,ball hit into play
811,1903_02_TeamNE_TeamA2,210,67,211,8018737,0,5,end of play
812,1903_02_TeamNE_TeamA2,211,69,222,8050687,1,1,pitch
813,1903_02_TeamNE_TeamA2,211,69,222,8051187,0,5,end of play
814,1903_02_TeamNE_TeamA2,211,69,222,8051187,2,2,ball acquired
815,1903_02_TeamNE_TeamA2,211,69,222,8087787,1,1,pitch
816,1903_02_TeamNE_TeamA2,211,69,222,8088237,0,5,end of play
817,1903_02_TeamNE_TeamA2,211,69,222,8088237,2,2,ball acquired
818,1903_02_TeamNE_TeamA2,211,69,222,8110437,1,1,pitch
819,1903_02_TeamNE_TeamA2,211,69,222,8110987,2,2,ball acquired
820,1903_02_TeamNE_TeamA2,211,69,222,8110987,0,5,end of play
821,1903_02_TeamNE_TeamA2,211,69,222,8146687,1,1,pitch
822,1903_02_TeamNE_TeamA2,211,69,222,8147087,10,4,ball hit into play
823,1903_02_TeamNE_TeamA2,211,69,222,8152537,6,2,ball acquired
824,1903_02_TeamNE_TeamA2,211,69,222,8152587,0,5,end of play
825,1903_02_TeamNE_TeamA2,211,69,222,8189637,1,1,pitch
826,1903_02_TeamNE_TeamA2,211,69,222,8190137,2,2,ball acquired
827,1903_02_TeamNE_TeamA2,211,69,222,8190137,0,5,end of play
828,1903_02_TeamNE_TeamA2,211,69,222,8211287,1,1,pitch
829,1903_02_TeamNE_TeamA2,211,69,222,8211787,2,2,ball acquired
830,1903_02_TeamNE_TeamA2,211,69,222,8211787,0,5,end of play
831,1903_02_TeamNE_TeamA2,211,69,222,8230737,1,1,pitch
832,1903_02_TeamNE_TeamA2,211,69,222,8231187,0,5,end of play
833,1903_02_TeamNE_TeamA2,211,69,222,8231187,2,2,ball acquired
834,1903_02_TeamNE_TeamA2,211,69,222,8252287,1,1,pitch
835,1903_02_TeamNE_TeamA2,211,69,222,8252737,2,2,ball acquired
836,1903_02_TeamNE_TeamA2,211,69,222,8252737,0,5,end of play
837,1903_02_TeamNE_TeamA2,211,69,222,8270787,1,1,pitch
838,1903_02_TeamNE_TeamA2,211,69,222,8271237,2,2,ball acquired
839,1903_02_TeamNE_TeamA2,211,69,222,8271237,0,5,end of play
840,1903_02_TeamNE_TeamA2,211,69,222,8294987,1,1,pitch
841,1903_02_TeamNE_TeamA2,211,69,222,8295387,10,4,ball hit into play
842,1903_02_TeamNE_TeamA2,211,69,222,8295437,0,5,end of play
843,1903_02_TeamNE_TeamA2,211,69,222,8326187,1,1,pitch
844,1903_02_TeamNE_TeamA2,211,69,222,8326687,2,2,ball acquired
845,1903_02_TeamNE_TeamA2,211,69,222,8326687,0,5,end of play

In [73]:
game_info_df.loc[(game_info_df["play_per_game"] >= 208) & (game_info_df["play_per_game"] <= 215), :]

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom_inning,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
206,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,67,208,8,Bottom,5095,7071,6803,4306,5616,6000,3790,4474,7148,1297,2526,2053,0
207,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,67,209,8,Bottom,5095,7071,6803,4306,5616,6000,3790,4474,7148,1297,2526,2053,0
208,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,67,210,8,Bottom,5095,7071,6803,4306,5616,6000,3790,4474,7148,1297,2526,2053,0
209,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,67,211,8,Bottom,5095,7071,6803,4306,5616,6000,3790,4474,7148,1297,2526,2053,0
210,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,67,212,8,Bottom,5095,7071,6803,4306,5616,6000,3790,4474,7148,1297,2526,2053,0
211,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,68,213,8,Bottom,5095,7071,6803,4306,5616,6000,3790,4474,7148,1240,2526,2053,0
212,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,68,214,8,Bottom,5095,7071,6803,4306,5616,6000,3790,4474,7148,1240,2526,2053,0
213,1903_02_TeamNE_TeamA2,TeamA2,TeamNE,68,215,8,Bottom,5095,7071,6803,4306,5616,6000,3790,4474,7148,1240,2526,2053,0

### Count all of the games that have a mismatch, and report the first time they mismatch

In [102]:
mismatches = pd.DataFrame()

for g in all_games:
    this_game = Game(g)
    
    
    mismatched_play_ids = this_game.game_events_df.loc[this_game.game_events_df["play_id"] != this_game.game_events_df["play_per_game"], :]
    first_mismatch = mismatched_play_ids.loc[mismatched_play_ids["play_id"].diff() != mismatched_play_ids["play_per_game"].diff(), :]

    game_events_mismatched = this_game.game_events_df.loc[(this_game.game_events_df["play_per_game"].isin(first_mismatch["play_per_game"]))  &\
                                                          (this_game.game_events_df["play_id"].isin(first_mismatch["play_id"]))
                                                , ["game_str", "play_id", "play_per_game", "event_code"]]
    
    mismatches = pd.concat([mismatches, game_events_mismatched])

In [107]:
mismatches

                   game_str  play_id  play_per_game  event_code
853   1903_01_TeamNE_TeamA2      223            224           1
854   1903_01_TeamNE_TeamA2      223            224           4
855   1903_01_TeamNE_TeamA2      223            224          16
856   1903_01_TeamNE_TeamA2      223            224          16
857   1903_01_TeamNE_TeamA2      223            224           2
...                     ...      ...            ...         ...
1012   1901_11_TeamLJ_TeamB      276            278           2
1013   1901_11_TeamLJ_TeamB      276            278           5
892   1902_31_TeamMF_TeamA2      258            259           1
894   1902_31_TeamMF_TeamA2      258            259           2
893   1902_31_TeamMF_TeamA2      258            259           5

[595 rows x 4 columns]

In [108]:
mismatches[["game_str", "play_id", "play_per_game"]].drop_duplicates()

                   game_str  play_id  play_per_game
853   1903_01_TeamNE_TeamA2      223            224
78    1903_16_TeamNI_TeamA3       22             23
155    1903_08_TeamNJ_TeamB       39             40
141   1903_23_TeamNA_TeamA1       40             41
236   1903_23_TeamNA_TeamA1       67             69
...                     ...      ...            ...
859   1903_06_TeamND_TeamA2      218            222
150   1903_25_TeamNH_TeamA3       38             39
1032  1903_25_TeamNH_TeamA3      269            271
1011   1901_11_TeamLJ_TeamB      276            278
892   1902_31_TeamMF_TeamA2      258            259

[138 rows x 3 columns]

In [81]:
mismatches[["game_str", "play_id", "play_per_game"]].drop_duplicates().to_csv("data_debugging/play_id_play_per_game_mismatches.csv", index = False)

In [109]:
# yikes, half of them have this mismatch

mismatches[["game_str"]].drop_duplicates().shape

(48, 1)

In [84]:
game_1903_25 = Game("1903_25_TeamNH_TeamA3")

In [89]:
game_1903_25.game_events_df.loc[game_1903_25.game_events_df["play_id"] == 218, :]

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code,event,next_event_code,next_event,next_event_ts
838,1903_25_TeamNH_TeamA3,218,62,219,7762461,1,1,pitch,2.0,ball acquired,7763011.0
840,1903_25_TeamNH_TeamA3,218,62,219,7763011,2,2,ball acquired,5.0,end of play,7763011.0
839,1903_25_TeamNH_TeamA3,218,62,219,7763011,0,5,end of play,NaN,NaN,NaN

In [92]:
game_1903_25.game_info_df.loc[game_1903_25.game_info_df["play_per_game"].isin([217, 218, 219, 220, 221]), :]

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom_inning,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
217,1903_25_TeamNH_TeamA3,TeamA3,TeamNH,61,217,8,Top,2592,2222,2480,2382,1784,1643,1258,2737,1617,8969,5592,0,0
218,1903_25_TeamNH_TeamA3,TeamA3,TeamNH,61,218,8,Top,2592,2222,2480,2382,1784,1643,1258,2737,1617,8969,5592,0,0
219,1903_25_TeamNH_TeamA3,TeamA3,TeamNH,62,219,8,Top,2592,2222,2480,2382,1784,1643,1258,2737,1617,9618,5592,0,0
220,1903_25_TeamNH_TeamA3,TeamA3,TeamNH,62,220,8,Top,2592,2222,2480,2382,1784,1643,1258,2737,1617,9618,5592,0,0
221,1903_25_TeamNH_TeamA3,TeamA3,TeamNH,62,221,8,Top,2592,2222,2480,2382,1784,1643,1258,2737,1617,9618,5592,0,0

In [95]:
game_1903_23 = Game("1903_23_TeamNA_TeamA1")

In [114]:
game_1903_25.game_events_df.loc[game_1903_25.game_events_df["play_id"].isin([36, 37, 38, 39, 40]), :]

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code,event,next_event_code,next_event,next_event_ts
144,1903_25_TeamNH_TeamA3,36,10,36,1082861,1,1,pitch,2.0,ball acquired,1083411.0
145,1903_25_TeamNH_TeamA3,36,10,36,1083411,2,2,ball acquired,5.0,end of play,1083411.0
146,1903_25_TeamNH_TeamA3,36,10,36,1083411,0,5,end of play,NaN,NaN,NaN
147,1903_25_TeamNH_TeamA3,37,10,37,1120961,1,1,pitch,2.0,ball acquired,1121461.0
148,1903_25_TeamNH_TeamA3,37,10,37,1121461,2,2,ball acquired,5.0,end of play,1121461.0
149,1903_25_TeamNH_TeamA3,37,10,37,1121461,0,5,end of play,NaN,NaN,NaN
150,1903_25_TeamNH_TeamA3,38,10,39,1164711,1,1,pitch,2.0,ball acquired,1165161.0
152,1903_25_TeamNH_TeamA3,38,10,39,1165161,2,2,ball acquired,5.0,end of play,1165161.0
151,1903_25_TeamNH_TeamA3,38,10,39,1165161,0,5,end of play,NaN,NaN,NaN
153,1903_25_TeamNH_TeamA3,39,10,40,1186211,1,1,pitch,4.0,ball hit into play,1186661.0
154,1903_25_TeamNH_TeamA3,39,10,40,1186661,10,4,ball hit into play,16.0,ball bounce,1186711.0
155,1903_25_TeamNH_TeamA3,39,10,40,1186711,255,16,ball bounce,16.0,ball bounce,1188111.0
156,1903_25_TeamNH_TeamA3,39,10,40,1188111,255,16,ball bounce,2.0,ball acquired,1188561.0
157,1903_25_TeamNH_TeamA3,39,10,40,1188561,4,2,ball acquired,3.0,throw (ball-in-play),1189711.0
158,1903_25_TeamNH_TeamA3,39,10,40,1189711,4,3,throw (ball-in-play),2.0,ball acquired,1190661.0
159,1903_25_TeamNH_TeamA3,39,10,40,1190661,3,2,ball acquired,5.0,end of play,1190661.0
160,1903_25_TeamNH_TeamA3,39,10,40,1190661,0,5,end of play,NaN,NaN,NaN
161,1903_25_TeamNH_TeamA3,40,11,41,1340911,1,1,pitch,2.0,ball acquired,1341411.0
162,1903_25_TeamNH_TeamA3,40,11,41,1341411,2,2,ball acquired,5.0,end of play,1341411.0
163,1903_25_TeamNH_TeamA3,40,11,41,1341411,0,5,end of play,NaN,NaN,NaN

In [115]:
game_1903_25.game_events_df.loc[game_1903_25.game_events_df["play_id"].isin([268, 269, 270, 271]), :]

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code,event,next_event_code,next_event,next_event_ts
1029,1903_25_TeamNH_TeamA3,268,75,269,9810711,1,1,pitch,2.0,ball acquired,9811211.0
1030,1903_25_TeamNH_TeamA3,268,75,269,9811211,2,2,ball acquired,5.0,end of play,9811211.0
1031,1903_25_TeamNH_TeamA3,268,75,269,9811211,0,5,end of play,NaN,NaN,NaN
1032,1903_25_TeamNH_TeamA3,269,75,271,9858961,1,1,pitch,4.0,ball hit into play,9859361.0
1033,1903_25_TeamNH_TeamA3,269,75,271,9859361,10,4,ball hit into play,5.0,end of play,9859461.0
1034,1903_25_TeamNH_TeamA3,269,75,271,9859461,0,5,end of play,NaN,NaN,NaN
1035,1903_25_TeamNH_TeamA3,270,75,272,9885511,1,1,pitch,4.0,ball hit into play,9885911.0
1036,1903_25_TeamNH_TeamA3,270,75,272,9885911,10,4,ball hit into play,5.0,end of play,9885961.0
1037,1903_25_TeamNH_TeamA3,270,75,272,9885961,0,5,end of play,NaN,NaN,NaN
1038,1903_25_TeamNH_TeamA3,271,75,273,9910311,1,1,pitch,4.0,ball hit into play,9910761.0
1039,1903_25_TeamNH_TeamA3,271,75,273,9910761,10,4,ball hit into play,5.0,end of play,9910811.0
1040,1903_25_TeamNH_TeamA3,271,75,273,9910811,0,5,end of play,NaN,NaN,NaN

In [104]:
mismatched_play_ids = game_1903_25.game_events_df.loc[game_1903_25.game_events_df["play_id"] != game_1903_25.game_events_df["play_per_game"], :]

In [106]:
first_mismatch = mismatched_play_ids.loc[mismatched_play_ids["play_id"].diff() != mismatched_play_ids["play_per_game"].diff(), :]

first_mismatch

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code,event,next_event_code,next_event,next_event_ts
150,1903_25_TeamNH_TeamA3,38,10,39,1164711,1,1,pitch,2.0,ball acquired,1165161.0
1032,1903_25_TeamNH_TeamA3,269,75,271,9858961,1,1,pitch,4.0,ball hit into play,9859361.0

In [110]:
game_events_mismatched = game_1903_25.game_events_df.loc[(game_1903_25.game_events_df["play_per_game"].isin(first_mismatch["play_per_game"]))  &\
                                                          (game_1903_25.game_events_df["play_id"].isin(first_mismatch["play_id"]))
                                                , ["game_str", "play_id", "play_per_game", "event_code"]]

In [111]:
game_events_mismatched

                   game_str  play_id  play_per_game  event_code
150   1903_25_TeamNH_TeamA3       38             39           1
152   1903_25_TeamNH_TeamA3       38             39           2
151   1903_25_TeamNH_TeamA3       38             39           5
1032  1903_25_TeamNH_TeamA3      269            271           1
1033  1903_25_TeamNH_TeamA3      269            271           4
1034  1903_25_TeamNH_TeamA3      269            271           5

## What I notice isn't there that might be nice to have:
- the at_bat field is not there for older games
- I don't think I have any outs or count
    - Not sure I can get counts
- ~~Players speed at a given time~~
- Player orientation?
    - I think I could noisily infer this
- I don't think that "ball bounce" is in the older data -- how is this defined?
    - I could maybe fill this one in if z_coord is < 0.5 or something arbitrarily small?

### Try to fill in the at_bat field

In [ ]:
ball_hitting_something_df = game_events_df.loc[game_events_df["event"].isin(["ball deflection", "ball deflection off of wall", "ball bounce"]), :]

In [ ]:
ball_hitting_something_df["event"].value_counts()

In [ ]:
def add_at_bat_data(df): 
    pass

In [ ]:
game_info_df.head()

In [ ]:
# assumption: an at_bat is when the pitcher and batter are the same?
# this is wrong when a pitcher is changed mid inning
# this is also wrong when a batter is changed 

game_info_df.loc[:5, ["inning", "top_bottom_inning", "pitcher", "batter",]].groupby(["inning", "top_bottom_inning", "pitcher", "batter"]).cumcount() + 1

In [ ]:
grouping_cols = ["inning", "top_bottom_inning", "pitcher", "batter"]

new_game_info_df = game_info_df.copy()


new_game_info_df.loc[:10, grouping_cols]

In [ ]:
new_game_info_df["play_per_pa"] = new_game_info_df.loc[:, :].groupby(grouping_cols).cumcount() + 1

In [ ]:
# this is a check: the play_per_game should be equal to the running sum of play_per_pa when there is a new at bat?

new_game_info_df["play_per_pa"].head(10).cumsum()

In [ ]:
new_game_info_df.head()

In [ ]:
new_game_info_df["new_at_bat"] = (new_game_info_df.loc[new_game_info_df["play_per_pa"] == 1 , ["play_per_pa"]]\
.groupby("play_per_pa").cumcount() + 1)

new_game_info_df["new_at_bat"] = new_game_info_df["new_at_bat"].fillna(method='ffill', inplace=False).astype(int)

In [ ]:
new_game_info_df.loc[new_game_info_df["at_bat"] + 1 == new_game_info_df["new_at_bat"], :].head()

In [ ]:
new_game_info_df["new_at_bat_shifted"] = new_game_info_df["new_at_bat"].shift()

In [ ]:
new_game_info_df.loc[(new_game_info_df["at_bat"] != new_game_info_df["new_at_bat"]) &\
                     (new_game_info_df["new_at_bat"] != new_game_info_df["new_at_bat_shifted"])]

In [ ]:
new_game_info_df.loc[(new_game_info_df["at_bat"] != new_game_info_df["new_at_bat"]) & (new_game_info_df["batter"] == 0), :]

In [ ]:
new_game_info_df.loc[130:135, :]

In [ ]:
# WHAT THE HECK, THE PLAY_PER_GAME AND PLAY_ID ARE DIFFERENT?

In [ ]:
# HMM I kind of suspect that this batter being 0 would mean that the batter for the next play is the correct batter

In [ ]:
game_events_df.loc[game_events_df["play_id"] == 132, :]

In [ ]:
game_events_df.loc[game_events_df["play_id"] == 133, :]

In [ ]:
player_pos = bf.game_obj.player_pos_df.copy()

In [ ]:
# I think I expect this one to be 2053

# Also batters are at a frequency of 20 Hz it looks like?

player_pos.loc[(player_pos["play_id"] == 133 ) & ( player_pos["player_position"] == 10), :]

In [ ]:
# Something is really off here about how I am calculating ABs

bf = Baseball_Field(which_game=which_game)

In [ ]:
bf.create_gif(play_id=3, tag="_at_bat_probs")

In [ ]:
bf.create_gif(play_id=4, tag="_at_bat_probs")

In [ ]:
bf.create_gif(play_id=133, tag="_at_bat_probs")

In [ ]:
## something happens at play 101, where a batter is awarded first with no batter? I think this is a IBB or HBP?

new_game_info_df.loc[98:105, :]

In [ ]:
game_events_df.loc[game_events_df["play_per_game"] == 101, :]

In [ ]:
new_game_info_df.loc[new_game_info_df["at_bat"] + 2 == new_game_info_df["new_at_bat"], :]

In [ ]:
# Something weird also happens at play id 160 and 202

new_game_info_df.loc[158:162, :]

In [ ]:
# gotta be honest, I am a bit confused by this one -- there are several plays in a row, where the 
# events show a pitch, but the game info doesn't show a batter?
game_events_df.loc[game_events_df["play_per_game"] == 162, :]

In [ ]:
game_info_df.loc[200:205, :]

In [ ]:
new_game_info_df.loc[200:205, :]

In [ ]:
game_events_df.loc[game_events_df["play_per_game"] == 202, :]

In [ ]:
# I am a bit confused by this one as well -- this one has a play which shows the batter and runner on first both advance?
# so is that like a dropped 3rd that kicks around the backstop?

game_events_df.loc[game_events_df["play_per_game"] == 203, :]

In [ ]:
# gotta be honest, I am a bit confused by this one -- there are several plays in a row, where the 
# events show a pitch, but the game info doesn't show a batter?
game_events_df.loc[game_events_df["play_per_game"] == 203, :]

In [ ]:
new_game_info_df.loc[new_game_info_df["at_bat"] + 3 == new_game_info_df["new_at_bat"], :]

#### Use at_bat field to fill in outs?

- double check me on that

In [ ]:
###

### What are the most common events?
- Corollary: when were they added?

In [ ]:
# These figures aren't all that useful as they stand honestly

In [ ]:
game_events_monitoring = pd.DataFrame()

root_dirs = ['data/game_events/'] 


for root_dir in root_dirs:
    for sub_dir, dirs, files in os.walk(root_dir):
        for file in files:
            if "checkpoint" in file:
                continue
            
            temp_game_events_df = pd.read_csv(os.path.join(sub_dir, file), index_col=0)
            temp_game_events_df["event"] = temp_game_events_df["event_code"].map(lambda x: EVENT_CODE_TO_DESC[x])
            
            temp_df = pd.DataFrame(temp_game_events_df["event"].value_counts(normalize=True))
            
            # take just the first part
            temp_df["game"] = file.split(".csv")[0]
            
            temp_df = temp_df.reset_index(drop=False)
            
            game_events_monitoring = pd.concat([game_events_monitoring, temp_df])

            
game_events_monitoring = game_events_monitoring.reset_index()

In [ ]:
# some plots by game might be useful here, or like a little dashboard or something

In [ ]:
game_events_monitoring

In [ ]:
game_events_monitoring_df = game_events_monitoring.pivot(index='game', columns="index", values="event").sort_index()

In [ ]:
game_events_monitoring_df = game_events_monitoring_df.reset_index()

game_events_monitoring_df["away"] = game_events_monitoring_df["game"].str.split("_Team").apply(lambda x: x[1])
game_events_monitoring_df["home"] = game_events_monitoring_df["game"].str.split("_Team").apply(lambda x: x[-1])

game_events_monitoring_df["year"] = game_events_monitoring_df["game"].str.strip("game_events-").str.split("_").apply(lambda x: x[0])
game_events_monitoring_df["game_num"] = game_events_monitoring_df["game"].str.strip("game_events-").str.split("_").apply(lambda x: x[1])

# game_events_monitoring_df = game_events_monitoring_df.set_index('game')

In [ ]:
fig, ax = plt.subplots(ncols=2, nrows=2, figsize=(12,12))

i =0
for team in ['B', 'A3', 'A2', 'A1']:
    
    lines = game_events_monitoring_df.loc[game_events_monitoring_df["home"] == team, :].plot(kind = "line", ax=ax[i // 2][i % 2])
    
    i += 1

plt.xticks(rotation=90)

In [ ]:
for year in ["1900", "1901", "1902", "1903"]:
    i = 0
    
    this_year = game_events_monitoring_df.loc[(game_events_monitoring_df["year"] == year), :]
    this_year_teams = this_year["home"].unique()
    
    fig, ax = plt.subplots(nrows=4 , figsize=(12,12))

    for team in this_year["home"].unique():

        plot_df = game_events_monitoring_df.loc[(game_events_monitoring_df["home"] == team) & (game_events_monitoring_df["year"] == year), :]
        
        
        plot_df.plot(kind = "line", x="game_num", ax=ax[i])

        i += 1

plt.xticks(rotation=90)

### How many throws does each player(/position) make?

In [ ]:
all_game_events = concat_game_events_into_single_file(write=False)

In [ ]:
all_game_events.head()

In [ ]:
all_game_events["event"].value_counts()

In [ ]:
group_by_cols = ["player_position", "event"]


first_base_receives = all_game_events.loc[(all_game_events["event"] == "ball acquired") &\
                                      (all_game_events["player_position"] == 3)&\
                                      (all_game_events["last_event"] == "throw (ball-in-play)"), :]

first_base_receives.loc[:, "last_player_position"].value_counts(normalize = True).plot(kind="barh", title="First Baseman Recieves across all data")

plt.ylabel("Throwing Player")
plt.xlabel("Frequency")

print(first_base_receives.shape)

In [ ]:
game_events_df["last_event_code"] = game_events_df["event_code"].shift(1)

In [ ]:
game_events_df["last_player_position"] = game_events_df["player_position"].shift(1)

In [ ]:
game_events_df["last_event"] = game_events_df["last_event_code"].map(lambda x: EVENT_CODE_TO_DESC[x] if pd.notnull(x) else x)

In [ ]:
this_game_first_base_acqs = game_events_df.loc[(game_events_df["event"] == "ball acquired") &\
                                               (game_events_df["player_position"] == 3) &\
                                               (game_events_df["last_event"] == "throw (ball-in-play)")
                                               , :]

In [ ]:
this_game_first_base_acqs.shape[0]

### How often is the ball acquired by each player?